parameters:
	ignoreErrors:
		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: tests/Unit/BaselineBuilderTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 4
			path: tests/Unit/BaselineTransformer/AwareTransformerTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: tests/Unit/ComparatorTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: tests/Unit/Model/ConsoleTableTest.php

		-
			message: "#^Expression \"\\$coverage\\['any_key'\\]\" on a separate line does not do anything\\.$#"
			count: 2
			path: tests/Unit/Model/CoverageTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: tests/Unit/Reader/BaselineTransformingReaderTest.php

		-
			message: "#^Call to an undefined static method PHPUnit\\\\Framework\\\\TestCase\\:\\:expectExceptionMessageMatches\\(\\)\\.$#"
			count: 1
			path: tests/Unit/UnitTestCase.php

		-
			message: "#^Call to an undefined static method PHPUnit\\\\Framework\\\\TestCase\\:\\:expectWarning\\(\\)\\.$#"
			count: 1
			path: tests/Unit/UnitTestCase.php

		-
			message: "#^Call to an undefined static method PHPUnit\\\\Framework\\\\TestCase\\:\\:expectWarningMessageMatches\\(\\)\\.$#"
			count: 1
			path: tests/Unit/UnitTestCase.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Unit/Writer/BaselineWriterTest.php

