<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="build/cache" processUncoveredFiles="true" pathCoverage="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <html outputDirectory="build/coverage"/>
            <clover outputFile="build/coverage/clover.xml"/>
            <crap4j outputFile="build/coverage/crap4j.xml" threshold="50"/>
        </report>
    </coverage>

    <!-- >>>: Code coverage report for old versions of PHPUnit -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/coverage/clover.xml"/>
    </logging>
    <!-- <<<: Code coverage report for old versions of PHPUnit -->
</phpunit>
